:root {

    /* ===================================
       CORES PRINCIPAIS
    =================================== */

    --pink: #FA195F;
    --orange: #FD6303;
    --purple: #881ee8;
    --white: #FFFFFF;
    --black: #000000;

    /* ===================================
       GRADIENTES
    =================================== */

    --gradient: linear-gradient(30deg,
            #FD6303 0%,
            #FA195F 80%);
    /* ===================================
       BORDAS
    =================================== */

    --border-gradient: linear-gradient(30deg,
            #FD6303 0%,
            #c4476e 70%) 1;
    ;
    /* ===================================
       BORDER RADIUS
    =================================== */

    --radius: 1rem;
    --radius-full: 999px;

    /* ===================================
       SOMBRAS
    =================================== */


    --shadow-neon-pink:
        0 0 20px rgba(250, 25, 95, 0.45);

    --shadow-neon-orange:
        0 0 20px rgba(253, 99, 3, 0.45);

    --shadow-neon:
        0 0 15px rgba(250, 25, 95, .4),
        0 0 30px rgba(253, 99, 3, .3);

    /* ===================================
       GLASSMORPHISM
    =================================== */

    --glass:
        rgba(255, 255, 255, 0.1);
    --glass-light:rgba(255, 255, 255, 0.6);
    --glass-blur: blur(12px);

    /* ===================================
       ESPAÇAMENTOS
    =================================== */

    --space-xs: .5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;

    /* ===================================
       TRANSIÇÕES
    =================================== */

    --transition: .3s ease;
    --transform:  translateY(-8px);
}